<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="net.cyue.web.easyquery.provider.db.mybatis.spring.MyBatisSpringQueryMapper">
    <select id="dynamicQuery">
        ${dynamic_sql_for_query}
    </select>
</mapper>

