<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
    "
>

    <!-- 启用Spring的Web上下文支持 -->
    <context:annotation-config/>
    <context:component-scan base-package="net.cyue.web.easyquery"/>

    <bean
        id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource"
    >
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/jdbc_test?useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:mapper/**/*.xml"/>
    </bean>

    <bean
        id="easyQueryApplication"
        class="net.cyue.web.easyquery.core.EasyQueryApplication"
    >
        <property name="serverContext" ref="servletContext"/>
    </bean>

    <bean
        id="easyQueryApplicationLauncher"
        class="net.cyue.web.easyquery.test.spring.EasyQueryApplicationLauncher"
    />

</beans>

